<div ng-show="isAuthenticated">

	<div class="col-md-12">		
	  	<div uib-alert ng-repeat="alert in mainDataListAlerts" ng-class="'alert-' + ({{alert.type}} || 'success')" type="{{alert.type}}" close="closeAlert('mainDataListAlerts', $index)" dismiss-on-timeout="4000">{{alert.msg}}</div>

	  	<div class="btn-group margin-bottom">
	  		<button class="btn btn-primary" type="button"><i class="fa fa-building"></i></button>
     		<button class="btn btn-primary" ng-click="departmentCtrl.saveDepartmentRecord(0, false)"><b>New Department</b></button>
	  	</div>

	</div>	

	<div class="col-md-9">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">List of Departments</h3>
				<div class="box-tools pull-right">
					<div class="has-feedback">
						<input type="text" class="form-control input-sm" placeholder="Search departments" ng-model="searchStringDepartments"/>
              			<span class="glyphicon glyphicon-search form-control-feedback"></span>

					</div>
				</div>
			</div>

			<div class="box-body">
				<div class="table-responsive department-list-content">
					
					<!-- Show if no records saved. -->
					<div ng-if="!mainDataList.length" ng-class="'alert-info'" uib-alert type="info">No records yet saved.</div>

					<!-- Records list table -->
					<table class="table table-hover table-striped dataTable table-bordered" ng-if="mainDataList.length">
						<thead>
						  	<th><input type="checkbox"></th>  							
							<th ng-repeat="header in departmentCtrl.tableHeaders">
								<sort-data-list options="{ type : 'departments', label : header.label}" order-by="header.name" title="header.label"></sort-data-list>
							</th>														
							<th colspan="4">Actions</th>
						</thead>
						<tbody>
							<tr ng-repeat="deparment in mainDataList | filter:searchStringDepartments">
							  	<td><input type="checkbox" value="{{ deparment.id }}"></td>                				                
				                <td>{{ deparment.departmentCode }} </td>
				                <td>{{ deparment.departmentName }}</td>
				                <td>{{ deparment.locationId }}</td>
				                <td>{{ deparment.updatedAt | date }}</td>
				                <td colspan="4">
				                  <button class="btn btn-default btn-xs" ng-click="departmentCtrl.saveDepartmentRecord($index, true)" uib-tooltip="Edit Details"><i class="fa fa-cog"></i></button>
				                  <button class="btn btn-default btn-xs" ng-click="departmentCtrl.removeDepartment(deparment.id, $index)" uib-tooltip="Delete Details"><i class="fa fa-trash"></i></button>                  
				                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		
	</div>
</div>