<div class="col-md-12 no-padding">
	<div class="box box-warning">
		<div class="box-header with-border">
			<h2 class="box-title">Departments</h2>
		</div>
		<div class="box-body">
			<button class="btn btn-sm filter-options-content btn-group-vertical" type="button" ng-click="filterOptions.toggle(department.id);" ng-class="{ 'btn-warning' : filterOptions.isSelectedOption, 'btn-default' : !filterOptions.isSelectedOption }" ng-repeat="department in departmentList">{{ department.departmentName }}</button>			
		</div>
	</div>			
</div>
<div class="clearfix"></div>