<div ng-if="authorizeUser" class="row no-padding">	
	<ajax-loader show-loader="showLoader"></ajax-loader>	
 	<div class="btn btn-primary" ng-click="generatePDF();"><i class="fa fa-file-pdf-o"></i> Generate PDF Report</div> 	 
 
 	<div class="dtr-data-list-container" id="htmlData"> 	
		<div class="col-md-9 text-center center-block dtr-preview-container" ng-repeat="employee in employeeList">			
			<div class="dtr-preview-header text-center">
				<h3>Cereli Electrical Services</h3>
				<h4>Tawason, Mandaue City</h4>				
				<h4>Tel no. 422-2361</h4>
				<h4>Daily Time Record</h4>
			</div>
			<div class="dtr-preview-subheader">
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>Employee's ID:</dt><dd>{{ employee.empId }}</dd>
						<dt>Employee's Name:</dt><dd>{{ employee.fullName }}</dd>												
					</dl>
				</div>
				<div class="col-md-6 pull-right">
				<dl class="dl-horizontal">
					<dt>Total Regular Hours:</dt><dd></dd>
					<dt>Total Overtime Hours:</dt><dd></dd>
					<dt>Leave:</dt><dd></dd>
					<dt>Tardiness:</dt><dd></dd>
				</dl>
				</div>				
				<div class="clearfix"></div>
			</div>
			<div class="dtr-preview-body col-md-12">
				<h4 class="text-center">Period From : {{ employeeDtrCtrl.selectedDates.startsAt | date:'dd-MMM' }} To : {{ employeeDtrCtrl.selectedDates.endsAt | date:'dd-MMM' }}</h4>
				<table class="table dtr-table table-responsive">
					<thead>
						<tr>
							<th colspan="1"></th>
							<th colspan="2">Morning</th>
							<th colspan="2">Afternoon</th>
							<th colspan="2">Overtime</th>
							<th colspan="2">Regular</th>
							<th colspan="2">Overtime</th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<th>Date</th>
							<th>In </th>
							<th>Out</th>
							<th>In </th>
							<th>Out</th>
							<th>In </th>
							<th>Out</th>
							<th colspan="2">Hours</th>
							<th colspan="2">Hours</th>
							<th>Tardiness</th>
							<th>Remarks</th>
						</tr>
					</thead>
					<tbody>
						<tr bindonce="dateItem" ng-repeat="dateItem in daysDifference">
							<td class="no-border">{{ dateItem.date | date:'dd-MMM' }}</td>							
							<td class="no-border" ng-repeat="time_record in employee.time_records | filterBy : ['date'] : dateItem.date">
								<h5 toggle-time-record-edit>{{ time_record.startsAt | date:'hh:mm' | contentIsEmpty }} </h5>									
							</td>
						</tr>
					</tbody>
				</table>
			</div>				
			<div class="pull-right col-md-3">
				<h4 class="dtr-preview-signature-overprinted-name text-center">Signature Over Printed Name</h4>
			</div>
			<div class="clearfix"></div>			
		</div>
		<div class="clearfix"></div>
 	</div>
</div>