<div class="box box-warning">
	<div class="box-header with-border">
		<h2 class="box-title"> Filters</h2>
	</div>
	<div class="box-body">
		<ajax-loader show-loader="vm.showLoader"></ajax-loader>	

		<div class="col-md-4">
			<h5>Departments</h5>
			<div class="bulk-items">
				<div ng-repeat="item in vm.departmentList">
					<input type="checkbox" name="department" ng-value="item.id" ng-click="vm.toggleFilter();" ng-checked="true"/>
					{{ item.departmentName }}
				</div>
			</div>
		</div>

		<div class="col-md-3 pull-right text-right">			
			<button class="btn btn-sm btn-danger" ng-click="vm.close();"><i class="fa fa-ban"></i> Close</button>
		</div>
		<div class="clearfix"></div>

	</div>
</div>