<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">  
    <div class="row">  
        <div class="ajax-loader" ng-show="childShowloader">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>      
        <form method="post" name="employeeForm" ng-model="employeeForm" novalidate>

            <div class="nav-tabs-custom">

                <uib-tabset active="active">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <i class="fa fa-home"></i> Employee Information
                        </uib-tab-heading>
                      
                        <div class="col-md-4">                            
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.empId.$touched || employeeForm.$submitted) && employeeForm.empId.$invalid }">
                                <label for="">Employee I.D</label>
                                <input type="text" check-input-content-exists="employee.empId" data-model="employees" check-url="getEmployee" data-field-type="empId" class="form-control" ng-model-options="{debounce: 1000}" ng-maxlength="9" ng-required="number" name="empId" id="empId" ng-model="employee.empId" required />
                                <span class="help-block" ng-if="(employeeForm.empId.$touched || employeeForm.$submitted) && employeeForm.empId.$error.required">Employee ID is required</span>
                                <span class="help-block" ng-if="(employeeForm.empId.$touched || employeeForm.$submitted) && employeeForm.empId.$error.exists">Employee ID already Exists</span>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.position.$touched || employeeForm.$submitted) && employeeForm.position.$invalid }">
                                <label for="">Position</label>
                                <input type="text" class="form-control" name="position" id="position" ng-model="employee.position" required />
                                <span class="help-block" ng-if="(employeeForm.position.$touched || employeeForm.$submitted) && employeeForm.position.$error.required">Position is required</span>
                            </div>        
                        </div>

                        <div class="col-md-4">
                             <div class="form-group" ng-class="{ 'has-error': (employeeForm.dateHired.$touched || employeeForm.$submitted) && employeeForm.dateHired.$invalid }">
                                <label for="">Date Hired</label>
                                <div class="input-group">
                                    <input type="text" uib-datepicker-popup="{{datePickerOptions.formatSelected}}" datepicker-options="datePickerOptions.dateHiredOptions" class="form-control" name="dateHired" id="dateHired" close-text="Close" ng-model="employee.dateHired" ng-required="true" ng-click="datePickerOptions.openDateHired()" is-open="datePickerOptions.isOpenDateHired.opened"  alt-input-formats="datePickerOptions.altInputFormats"/>
                                  <!--   <button type="button" class="btn btn-default" ><i class="fa fa-calendar"></i></button> -->
                                    <span class="help-block" ng-if="(employeeForm.dateHired.$touched || employeeForm.$submitted) && employeeForm.dateHired.$error.required">Date Hired is required</span>
                                    
                                </div>
                            </div>
                             <div class="form-group" ng-class="{ 'has-error': (employeeForm.dateRegularized.$touched || employeeForm.$submitted) && employeeForm.dateRegularized.$invalid }">
                                <label for="">Date Regularized</label>
                                <input type="text" uib-datepicker-popup="{{datePickerOptions.formatSelected}}" class="form-control" is-open="datePickerOptions.isOpenDateRegularized.opened" datepicker-options="datePickerOptions.dateRegularizedOptions" ng-click="datePickerOptions.openDateRegularized()" name="dateRegularized" id="dateRegularized" ng-model="employee.dateRegularized" ng-required="true" alt-input-formats="datePickerOptions.altInputFormats" />
                                <span class="help-block" ng-if="(employeeForm.dateRegularized.$touched || employeeForm.$submitted) && employeeForm.dateRegularized.$error.required">Date Regularized is required</span>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.departmentAssigned.$touched || employeeForm.$submitted) && employeeForm.departmentAssigned.$invalid }">
                                <label for="">Department Assigned</label>

                                <select class="form-control" ng-init="employee.departmentAssigned = departmentList[0]" ng-options="department.id as department.departmentName for department in departmentList" ng-model="employee.departmentAssigned"></select>
                                <span class="help-block" ng-if="(employeeForm.departmentAssigned.$touched || employeeForm.$submitted) && employeeForm.departmentAssigned.$error.required">Department Assigned is required</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </uib-tab>                    

                    <uib-tab index="1">
                        <uib-tab-heading>
                            <i class="fa fa-hourglass-start"></i> Accounting
                        </uib-tab-heading>
                        <div class="col-md-4">                            
                            <div class="form-group">
                                <label for="">Paid Leave Limit</label>
                                <input type="text" class="form-control" name="paidLeaveLimit" id="paidLeaveLimit" ng-model="employee.paidLeaveLimit" />
                                <!-- <span class="help-block" ng-if="(employeeForm.paidLeaveLimit.$touched || employeeForm.$submitted) && employeeForm.paidLeaveLimit.$error.required">Employee ID is required</span> -->
                            </div>              
                            <div class="form-group">
                                <label for="">Unpaid Leave Limit</label>
                                <input type="text" class="form-control" name="unPaidLeaveLimit" id="unPaidLeaveLimit" ng-model="employee.unpaidLeaveLimit" />
                            </div>   
                        </div>
                        <div class="col-md-4">                            
                            <div class="form-group">
                                <label for="">No./Hours of Absences</label>
                                <input type="text" class="form-control" name="noOfAbsences" id="noOfAbsences" ng-model="employee.noOfAbsences" />                             
                            </div> 
                            <div class="form-group">
                                <label for="">No./Hours of Late</label>
                                <input type="text" class="form-control" name="noOfLates" id="noOfLates" ng-model="employee.noOfLates" />                             
                            </div> 
                        </div> 
                        <div class="col-md-4">                            
                            <div class="form-group">
                                <label for="">Total Overtime</label>
                                <input type="text" class="form-control" name="totalOvertime" id="totalOvertime" ng-model="employee.totalOvertime" />                             
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.recordStatus.$touched || employeeForm.$submitted) && employeeForm.recordStatus.$invalid }">
                                <label for="">Record Status</label>
                                <select class="form-control" name="recordStatus" ng-model="employee.recordStatus" ng-options="recordstatus.value as recordstatus.name for recordstatus in recordStatusArr">
                                </select>
                                <span class="help-block" ng-if="(employeeForm.recordStatus.$touched || employeeForm.$submitted) && employeeForm.recordStatus.$error.required">Record Status is required</span>
                            </div>                        
                        </div> 
                        <div class="clearfix"></div>
                    </uib-tab>

                    <uib-tab index="2">
                        <uib-tab-heading>
                            <i class="fa fa-user"></i> Basic
                        </uib-tab-heading>
                                    
                        <div class="col-md-5">                            
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.fullName.$touched || employeeForm.$submitted) && employeeForm.fullName.$invalid }">
                                <label for="">Full Name</label>
                                <input type="text" class="form-control" name="fullName" id="fullname" ng-model="employee.fullName" required />
                                <span class="help-block" ng-if="(employeeForm.fullName.$touched || employeeForm.$submitted) && employeeForm.fullName.$error.required">Full Name is required</span>
                            </div>    
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.gender.$touched || employeeForm.$submitted) && employeeForm.gender.$invalid }">
                                <label for="">Gender</label>
                                <select class="form-control" name="gender" ng-model="employee.gender" ng-options="gender.value as gender.name for gender in genderArr">
                                </select>
                                <span class="help-block" ng-if="(employeeForm.gender.$touched || employeeForm.$submitted) && employeeForm.gender.$error.required">Gender is required</span>
                            </div>              
                        </div>
                        <div class="col-md-5">                            
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.contactNumber.$touched || employeeForm.$submitted) && employeeForm.contactNumber.$invalid }">
                                <label for="">Contact No.</label>
                                <input type="text" class="form-control" name="contactNumber" id="contactNumber" ng-model="employee.contactNumber" required />                        
                            </div>                                    
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.emailAddress.$touched || employeeForm.$submitted) && employeeForm.emailAddress.$invalid }">
                                <label for="">Email Address</label>
                                <input type="email" class="form-control" name="emailAddress" id="emailAddress" ng-model="employee.emailAddress" required />
                                <span class="help-block" ng-if="(employeeForm.emailAddress.$touched || employeeForm.$submitted) && employeeForm.emailAddress.$error.required">Email Address is required</span>
                                <span class="help-block" ng-if="(employeeForm.emailAddress.$touched || employeeForm.$submitted) && employeeForm.emailAddress.$error.email">Email Address is invalid</span>
                            </div>                        
                        </div>     
                        <div class="col-md-10">
                            <div class="form-group" ng-class="{ 'has-error': (employeeForm.homeAddress.$touched || employeeForm.$submitted) && employeeForm.homeAddress.$invalid }">
                                <label for="">Home Address</label>
                                <input type="text" class="form-control" name="homeAddress" id="homeAddress" ng-model="employee.homeAddress" required />
                                <span class="help-block" ng-if="(employeeForm.homeAddress.$touched || employeeForm.$submitted) && employeeForm.homeAddress.$error.required">Home Address is required</span>
                            </div>        
                        </div>                           
                        <div class="clearfix"></div>                        
                    </uib-tab> 

                </uib-tabset> 
            </div>

            <div uib-alert ng-repeat="alert in employeeCtrl.employeeListAlerts" ng-class="'alert-' + ({{alert.type}} || 'success')" type="{{alert.type}}" close="employeeCtrl.closeAlert('employeeListAlerts', $index)" dismiss-on-timeout="4000">{{alert.msg}}</div>
        </form>        
    </div> 
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();" ng-disabled="employeeForm.$invalid"><span class="glyphicon glyphicon-plus-sign"></span> {{modalOptions.actionButtonText}}</button>
</div>