<div class="box box-warning">
	<div class="box-header with-border">
		<h2 class="box-title"> Filters</h2>
	</div>
	<div class="box-body">
		<ajax-loader show-loader="vm.showLoader"></ajax-loader>	

		<div class="col-md-4">
			<h5><i class="fa fa-building"></i> Departments</h5>			
			<div class="bulk-items">
				<div ng-repeat="department in vm.departmentList">
					<input type="checkbox" name="department" ng-click="vm.toggleFilter(department.id);" ng-checked="true"/>
					{{ department.departmentName }}
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<h5><i class="fa fa-tasks"></i> Time Records</h5>			
			<div class="bulk-items">
				<div>		
					<input type="checkbox" name="department" ng-value="item.id" toggle-filter-records deparment-list="vm.departmentList" employee-list="vm.employeeList"/>
					Has less than 50 records		
				</div>
				<div>		
					<input type="checkbox" name="department" ng-value="item.id" toggle-filter-records deparment-list="vm.departmentList" employee-list="vm.employeeList"/>
					Has less than 100 records			
				</div>
				<div>		
					<input type="checkbox" name="department" toggle-filter-records deparment-list="vm.departmentList" employee-list="vm.employeeList" />
					Has more than 100 records
				</div>
			</div>
		</div>

		<div class="col-md-3 pull-right text-right">			
			<button class="btn btn-sm btn-danger" ng-click="vm.close();"><i class="fa fa-ban"></i> Close</button>
		</div>
		<div class="clearfix"></div>

	</div>
</div>