<div class="col-md-12">

   <button class="btn btn-primary margin-bottom" ng-click="employeeEventCalendarCtrl.saveEvent(0, false)"><i class="fa fa-calendar-o"></i> <b>Add New Event</b></button>

  <h2 class="text-center">{{ calendarTitle }}</h2>
  
  <calendar-controls sampleloader="employeeEventCalendarCtrl.sampleloader" viewdate="employeeEventCalendarCtrl.viewDate" calendarview="employeeEventCalendarCtrl.calendarView"></calendar-controls>

  <mwl-calendar
    events="employeeEventCalendarCtrl.events"
    view="employeeEventCalendarCtrl.calendarView"
    view-date="employeeEventCalendarCtrl.viewDate"
    view-title="calendarTitle"
    cell-is-open="employeeEventCalendarCtrl.isCellOpen"
    on-event-times-changed="employeeEventCalendarCtrl.eventDropped(calendarEvent, calendarNewEventStart, calendarNewEventEnd)">
  </mwl-calendar>
  <br><br>
</div>

<div class="col-md-10">
  <h2>Pre-Defined Events</h2>
  <div class="well">
    <ul>
      <li
        ng-repeat="event in employeeEventCalendarCtrl.externalEvents track by $index"
        mwl-draggable="true"
        drop-data="{event: event}">
        <a
          href="javascript:;"
          ng-class="'text-' + event.type">
          {{ event.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>