<ajax-loader show-loader="employeeTrackingActivitiesCtrl.showLoader"></ajax-loader>

<div class="clearfix"></div>

<ul class="timeline timeline-inverse">

	<li class="time-label" bindonce ng-repeat-start="( key, value ) in activities | groupBy: 'dateCommitted'">
        <span class="bg-green">
		{{ key | date : 'MMM dd yyyy, EEEE' }} 
        </span>
	</li>

	<li bindonce="item" ng-repeat="item in value">
		<i class="fa" ng-class="{ 'fa-user-plus' : item.type == 1.1, ' bg-blue' : item.type == 1.1, 'fa-user' : item.type == 1, 'bg-blue' : item.type == 1, 'fa-download' : item.type == 0, 'bg-purple' : item.type == 0, 'fa-building-o' : item.type == 4, 'bg-yellow' : item.type == 4, 'fa-tasks' : item.type == 2, 'bg-orange' : item.type == 2, 'fa-trash' : item.type == 2.2 || item.type == 1.2 || item.type == 3.2 || item.type == 4.2, ' bg-red' : item.type == 2.2 || item.type == 1.2 || item.type == 3.2 || item.type == 4.2}"></i>
		<div class="timeline-item">
	      <span class="time"><i class="fa fa-clock-o"></i> <span am-time-ago="item.createdAt"></span> - {{ item.createdAt | date : 'shortTime' }}</span>

	      <h3 class="timeline-header">{{ item.title.length > 0 ? item.title : "No Title" }} </h3>
	      <div class="timeline-body">{{ item.description }} </div>
	      <div class="timeline-footer"> </div>
	    </div>
	</li>
	<li ng-repeat-end></li>  	
  	<li>
    	<i class="fa fa-clock-o bg-gray" tooltip-placement="right" uib-tooltip="Show previous activities" ng-click="employeeTrackingActivitiesCtrl.getAllEmployeeActivities();"></i>
  	</li>
</ul>

<div class="clearfix"></div>