<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">  
    <div class="row">  
        <div class="ajax-loader" ng-show="childShowloader">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>      
        <form method="post" name="eventForm" ng-model="eventForm" novalidate>

            <div class="col-md-6">                  
                <!-- Title/Remarks -->
                <div class="form-group">
                    <label>Title:</label>

                    <div class="form-group" ng-class="{ 'has-error': (eventForm.title.$touched || eventForm.$submitted) && eventForm.title.$invalid }">
                        <input type="text" class="form-control" name="title" ng-model="event.title" rows="3" placeholder="Enter title..." ng-required="true">
                        <span class="help-block" ng-if="(eventForm.title.$touched || eventForm.$submitted) && eventForm.title.$error.required">Title is required</span>                      
                    </div>
                </div>
                <!-- /.form group -->

                <!-- Description -->
                <div class="form-group">
                    <label>Description:</label>

                    <div class="form-group" ng-class="{ 'has-error': (eventForm.description.$touched || eventForm.$submitted) && eventForm.description.$invalid }">
                        <textarea class="form-control" name="description" ng-model="event.description" rows="3" placeholder="Enter description..."></textarea>                                        
                    </div>
                </div>
                <!-- /.form group -->

                <!-- Record Type -->
                <div class="form-group">
                    <label>Event Type:</label>

                    <div class="form-group" ng-class="{ 'has-error': (eventForm.type.$touched || eventForm.$submitted) && eventForm.type.$invalid }">
                        <select ng-options="eventType.value as eventType.text for eventType in eventTypes track by eventType.value" name="type" ng-model="event.type" ng-required="true">
                            <option value="">-- Select an option--</option>
                        </select>  
                        <span class="help-block" ng-if="(eventForm.type.$touched || eventForm.$submitted) && eventForm.type.$error.required">Event Type is required</span>
                    </div>
                </div>
                <!-- /.form group -->

                <div class="form-group">
                    <div class="input-group">
                        <label>Is Recurring(Repeated Event)?</label><br>
                        <div class="btn-group">
                            <label class="btn btn-default" ng-required="true" ng-model="event.recursOn" uib-btn-radio="'Monthly'">Monthly</label>
                            <label class="btn btn-default" ng-required="true" ng-model="event.recursOn" uib-btn-radio="'Yearly'">Yearly</label>                            
                        </div>                        
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                        <label>Applys To All Employees?</label><br>
                        <div class="btn-group">
                            <label class="btn btn-default" ng-required="true" ng-model="event.applysToAll" uib-btn-radio="'1'">Yes</label>
                            <label class="btn btn-default" ng-required="true" ng-model="event.applysToAll" uib-btn-radio="'0'">No</label>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group" ng-class="{ 'has-error': (eventForm.startsAt.$touched || eventForm.$submitted) && eventForm.startsAt.$invalid }">
                    <label>Starts At</label>
                    <div class="input-group" style="max-width: 250px">
                        <input
                          type="text"
                          class="form-control"
                          name="startsAt"
                          readonly
                          uib-datepicker-popup="dd MMMM yyyy"
                          ng-model="event.startsAt"
                          is-open="event_datePicker.startOpen"
                          close-text="Close" ng-required="true">
                        <span class="input-group-btn">
                          <button                             
                            type="button"
                            class="btn btn-default"
                            ng-click="toggle($event, 'startOpen', event_datePicker)">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                    </div>
                    <span class="help-block" ng-if="(eventForm.startsAt.$touched || eventForm.$submitted) &&  eventForm.startsAt.$error.required">Event Starts-At is required</span>                        
                    <div
                        uib-timepicker
                        ng-model="event.startsAt"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true" ng-required="true">
                    </div>  
                </div>

                
                <div class="form-group" ng-class="{ 'has-error': (eventForm.endsAt.$touched || eventForm.$submitted) && eventForm.endsAt.$invalid }">
                    <label>Ends At</label>

                    <div class="input-group" style="max-width: 250px">
                        <input
                          type="text"
                          class="form-control"
                          name="endsAt"
                          readonly
                          uib-datepicker-popup="dd MMMM yyyy"
                          ng-model="event.endsAt"
                          is-open="event_datePicker.endOpen"
                          close-text="Close" ng-required="true">
                        <span class="input-group-btn">
                            <button
                                type="button"
                                class="btn btn-default"
                                ng-click="toggle($event, 'endOpen', event_datePicker)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>  
                    <span class="help-block" ng-if="(eventForm.endsAt.$touched || eventForm.$submitted) &&    eventForm.endsAt.$error.required">Event Ends-At is required</span>                                          
                    <div
                        uib-timepicker
                        ng-model="event.endsAt"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true" ng-required="true">
                    </div>
                </div>
            </div>

            <div uib-alert ng-repeat="alert in employeeEventCalendarAlerts" ng-class="'alert-' + ({{alert.type}} || 'success')" type="{{alert.type}}" close="closeAlert('employeeEventCalendarAlerts', $index)" dismiss-on-timeout="8000">{{alert.msg}}</div>          

        </form>        
    </div> 
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();" ng-disabled="eventForm.$invalid"><span class="glyphicon glyphicon-plus-sign"></span> {{modalOptions.actionButtonText}}</button>
</div>