<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">            
    <form method="post" name="importRecordForm" ng-model="importRecordForm" novalidate> 
        <div class="form-group">
            <label>Select File to Import :</label>
            <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                ngf-resize="{width: 100, height: 100}">Select</div>
        </div>           
    </form>        
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();"><span class="glyphicon glyphicon-plus-sign"></span> {{modalOptions.actionButtonText}}</button>
</div>