<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">            
    <form method="post" name="importRecordForm" ng-model="importRecordForm" novalidate> 
        <div class="form-group">
            <label>Select File to Import :</label>
            <div class="button" ngf-select="upload($file)" ng-model="fileSelect">Select</div>
        </div>           
    </form>        
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();"><span class="glyphicon glyphicon-plus-sign"></span> {{modalOptions.actionButtonText}}</button>
</div>