<div ng-show="isAuthenticated">

    <div class="col-md-12">
        <div uib-alert ng-repeat="alert in employeeCtrl.employeeListAlerts" ng-class="'alert-' + ({{alert.type}} || 'success')" type="{{alert.type}}" close="closeAlert('employeeListAlerts', $index)" dismiss-on-timeout="4000">{{alert.msg}}</div>

        <button class="btn btn-primary margin-bottom" ng-click="employeeCtrl.saveEmployee(0, false)"><i class="fa fa-user"></i> <b>New Employee</b></button>
        
        <button class="btn btn-primary margin-bottom" ng-click="employeeCtrl.saveTimeRecord()"><i class="fa fa-user"></i> <b>New Employee Time Record</b></button>

    </div> 

    <!-- /.col -->
    <div class="col-md-3">
      <!--  Tools/Options -->
      <employee-tools-options></employee-tools-options>
    </div>
    <!-- /.col -->  
   
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">List of Employees</h3>

          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search Employee" ng-model="employeeCtrl.searchString" uib-typeahead="employee for searchList in searchEmployee($viewValue)" typeahead-min-length="3" typeahead-no-results="noResults">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="ajax-loader" ng-show="parentShowLoader">
              <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span>
          </div>
          <div class="table-responsive employee-list-content">
            <table class="table table-hover table-striped no-padding dataTable">
              <thead>
                <tr>
                  <th><input type="checkbox" ng-model="employeeCtrl.selectedAll" ng-click="employeeCtrl.selectAllEmployees()"></th>                
                  <th>Employee ID</th>
                  <th>Full Name</th>
                  <th>Department Assigned</th>
                  <th>Position</th>
                  <!-- <th>Email Address</th> -->
                  <th>Date Hired</th>
                  <th colspan="4">Actions</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="employee in employeeCtrl.employeeList | filter:employeeCtrl.searchString" class="animate-repeat">               
                <td><input type="checkbox" value="{{ employee.id }}" ng-model="employee.selected"></td>                
                <td>{{ employee.empId }}</td>
                <td>{{ employee.fullName }} </td>
                <td><show-subdetails-employee index="$index" id="{{employee.departmentAssigned}}" type="
                  departmentAssigned"></show-subdetails></td>
                <td>{{ employee.position | contentIsEmpty }}</td>
                <!-- <td>{{ employee.emailAddress }}</td> -->
                <td>{{ employee.dateHired | date : shortDate | contentIsEmpty }}</td>
                <td colspan="4">
                  <button class="btn btn-default btn-xs" ng-click="employeeCtrl.viewEmployeeDetails($index, employee.empId);" uib-tooltip="View Employee Details"><i class="fa fa-search"></i></button>
                  <button class="btn btn-default btn-xs" ng-click="employeeCtrl.saveEmployee($index, true)" uib-tooltip="Edit Employee Details"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-default btn-xs" ng-click="employeeCtrl.removeEmployee(employee.id, $index)" uib-tooltip="Delete Details"><i class="fa fa-trash"></i></button>                  
                </td>
              </tr>                                   
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->

          <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info">
                  Showing {{ employeeCtrl.pager.startIndex + 1}} to {{ employeeCtrl.pager.endIndex + 1 }} of {{ employeeCtrl.pager.totalItems }} records
                </div>
              </div>
              <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers">                  
                  <ul ng-if="employeeCtrl.pager.pages.length" class="pagination">
                      <li ng-class="{disabled:employeeCtrl.pager.currentPage === 1}">
                          <a ng-click="employeeCtrl.setPage(1)">First</a>
                      </li>
                      <li ng-class="{disabled:employeeCtrl.pager.currentPage === 1}">
                          <a ng-click="employeeCtrl.setPage(employeeCtrl.pager.currentPage - 1)">Previous</a>
                      </li>
                      <li ng-repeat="page in employeeCtrl.pager.pages" ng-class="{active:employeeCtrl.pager.currentPage === page}">
                          <a ng-click="employeeCtrl.setPage(page)">{{page}}</a>
                      </li>                
                      <li ng-class="{disabled:employeeCtrl.pager.currentPage === employeeCtrl.pager.totalPages}">
                          <a ng-click="employeeCtrl.setPage(employeeCtrl.pager.currentPage + 1)">Next</a>
                      </li>
                      <li ng-class="{disabled:employeeCtrl.pager.currentPage === employeeCtrl.pager.totalPages}">
                          <a ng-click="employeeCtrl.setPage(employeeCtrl.pager.totalPages)">Last</a>
                      </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
        <!-- /.box-body -->       
      </div>
      <!-- /. box -->
    </div>
    


 
    <div class="clearfix"></div>

</div>
