<div ng-if="authorizeUser">

    <div class="col-md-12">
        <div uib-alert ng-repeat="alert in employeeCtrl.employeeListAlerts" ng-class="'alert-' + ({{alert.type}} || 'success')" type="{{alert.type}}" close="closeAlert('employeeListAlerts', $index)" dismiss-on-timeout="4000">{{alert.msg}}</div>     
        
        <!-- <button class="btn btn-primary margin-bottom" ng-click="employeeCtrl.saveTimeRecord()"><i class="fa fa-user"></i> <b>New Employee Time Record</b></button> -->

    </div>   
    
    <!-- Employee Tabs Section -->    
    <div class="col-md-8">

      <div class="nav-tabs-custom">

        <uib-tabset active="active">
            <!-- Employee Timeline -->
            <uib-tab index="0" select="employeeCtrl.getEmployeeActivities(null);">
              <uib-tab-heading>
                <i class="fa fa-tasks"></i> Timeline & Activities                
              </uib-tab-heading>

              <!-- <div ng-if="!childShowLoader"> -->
                <div ng-if="activities.length==0" uib-alert class="alert-warning">
                  <i class="icon fa fa-warning"></i> No Activity recorded.</div>    
              <!-- </div> -->
              <employee-tracking-activities ng-if="activities.length" emp-id="0" activities="activities" show-loader="childShowLoader"></employee-tracking-activities>

            </uib-tab>
            <!-- !Employee Timeline -->
            <!-- Employees Tab -->
            <uib-tab index="1" select="employeeCtrl.getEmployeeList();">
              <uib-tab-heading>
                    <i class="fa fa-th-list"></i> List of Employees
              </uib-tab-heading>
         
              <ajax-loader show-loader="parentShowLoader"></ajax-loader>

         <!--      <div class="col-md-12 no-padding">
                <a class="btn btn-app" ng-repeat="department in departmentList">
                  <span class="badge bg-yellow"><total-employees-in-department employee-list="mainDataList" department-id="department.id"></total-employees-in-department></span>
                  <i class="fa fa-building"></i> {{ department.departmentName }}
                </a>               
              </div>              
               -->
              <div class="col-md-3 no-padding pull-right">
                <div class="input-group input-group-md">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>                    
                  <angucomplete-alt id="ex2"
                    placeholder="Search by Emp. ID, Name"
                    pause="400"
                    selected-object="employeeCtrl.selectedSearchEmployee"
                    selected-object-data="row"
                    remote-url="/employees/getEmployee?criteria="
                    remote-url-data-field="data"
                    title-field="empId,fullName"
                    text-searching="Searching employee"
                    description-field="position"
                    minlength="2"
                    input-class="form-control input-md"
                    match-class="highlight" />
                </div>
              </div>

              <div class="col-md-5 no-padding pull-left">

                <div class="btn-group" uib-dropdown>                  
                  <button class="btn btn-warning btn-md" type="button"><i class="fa fa-filter"></i> Filters</button>                  
                  <button class="btn btn-warning btn-md" type="button" popover-placement="{{filterOptions.placement}}" uib-popover-template="filterOptions.template"><span class="fa fa-arrow-down"></span></button>                
                </div>   
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-warning"><i class="fa fa-user"></i></button>
                  <button class="btn btn-warning" ng-click="employeeCtrl.saveEmployee(0, false)"><b>New Employee</b></button>   
                </div>        

              </div>              

              <div class="clearfix"></div><br>
              <div class="table-responsive employee-list-content">
                <table class="table table-hover table-striped table-bordered no-padding dataTable">
                  <thead>
                    <tr>
                      <th><input type="checkbox" ng-model="employeeCtrl.selectedAll" ng-click="employeeCtrl.selectAllEmployees()"></th>  
                      <th ng-repeat="header in employeeCtrl.tableHeaders">
                        <sort-data-list options="{ type : 'employees', label : header.label}" order-by="header.name" title="header.label"></sort-data-list>
                      </th>                              
                      <th colspan="4">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="employee in mainDataList | filter:employeeCtrl.searchString" class="animate-repeat">               
                    <td><input type="checkbox" value="{{ employee.id }}" ng-model="employee.selected"></td>                
                    <td>{{ employee.empId }}</td>
                    <td>{{ employee.fullName }} </td>
                    <td><show-subdetails-employee index="$index" id="{{employee.departmentAssigned}}" type="
                      departmentAssigned"></show-subdetails></td>
                    <td>{{ employee.position | contentIsEmpty }}</td>
                    <!-- <td>{{ employee.emailAddress }}</td> -->
                    <td>{{ employee.dateHired | date : shortDate | contentIsEmpty }}</td>
                    <td colspan="4">
                      <button class="btn btn-default btn-xs" ng-click="employeeCtrl.viewEmployeeDetails($index, employee.empId);" uib-tooltip="View Employee Details"><i class="fa fa-search"></i></button>
                      <button class="btn btn-default btn-xs" ng-click="employeeCtrl.saveEmployee($index, true)" uib-tooltip="Edit Employee Details"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-default btn-xs" ng-click="employeeCtrl.removeEmployee(employee.id, $index)" uib-tooltip="Delete Employee Details"><i class="fa fa-trash"></i></button>                  
                    </td>
                  </tr>                                   
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->

              <div class="row">
                  <div class="col-sm-5">
                    <div class="dataTables_info">
                      Showing {{ employeeCtrl.pager.startIndex + 1}} to {{ employeeCtrl.pager.endIndex + 1 }} of {{ employeeCtrl.pager.totalItems }} records
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers">                  
                      <ul ng-if="employeeCtrl.pager.pages.length" class="pagination">
                          <li ng-class="{disabled:employeeCtrl.pager.currentPage === 1}">
                              <a ng-click="employeeCtrl.setPage(1)">First</a>
                          </li>
                          <li ng-class="{disabled:employeeCtrl.pager.currentPage === 1}">
                              <a ng-click="employeeCtrl.setPage(employeeCtrl.pager.currentPage - 1)">Previous</a>
                          </li>
                          <li ng-repeat="page in employeeCtrl.pager.pages" ng-class="{active:employeeCtrl.pager.currentPage === page}">
                              <a ng-click="employeeCtrl.setPage(page)">{{page}}</a>
                          </li>                
                          <li ng-class="{disabled:employeeCtrl.pager.currentPage === employeeCtrl.pager.totalPages}">
                              <a ng-click="employeeCtrl.setPage(employeeCtrl.pager.currentPage + 1)">Next</a>
                          </li>
                          <li ng-class="{disabled:employeeCtrl.pager.currentPage === employeeCtrl.pager.totalPages}">
                              <a ng-click="employeeCtrl.setPage(employeeCtrl.pager.totalPages)">Last</a>
                          </li>
                      </ul>
                    </div>
                  </div>
              </div>              
            </uib-tab> 
            <!-- !Employees Tab -->
            

        </uib-tabset>

      </div>
      
    </div> 
    <!-- !Employee Tabs Section -->

    <!-- Employee Time Records Tracker Calendar -->
    <div class="col-md-4 col-xs-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <i class="fa fa-eye"></i>  Time Records Tracker
        </div>
        <div class="box-body has-max-height">                    
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Uploaded</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="activity in timeRecordActivities">
                    <td>{{ activity.title }}</td>
                    <td>{{ activity.description }}</td>
                    <td>{{ activity.dateCommitted | date:'yyyy-MM-dd' }}</td>                    
                </tr>
              </tbody>
            </table>
        </div>
      </div>      
    </div>
    <!-- !Employee Time Records Tracker Calendar -->

    <!-- Employee Tools Section-->    
    <div class="col-md-4 col-xs-12 pull-right">
      <!--  Tools/Options -->
      <employee-tools-options></employee-tools-options>
    </div>
    <!-- Employee Tools Section-->

    <div class="clearfix"></div>
</div>
