<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">        
    <form method="post" name="timeRecordForm" novalidate>                    
        <div class="form-group">
          <label>Title</label>
          <input type="text" ng-model="title" class="form-control">
        </div>          
        <div class="form-group">
          <label>Remarks</label>
          <textarea class="form-control" ng-model="time_record.remarks" rows="3" placeholder="Enter remarks..."></textarea>
        </div>
        <div class="form-group">
          <label>Date Attended</label>
          <input type="text" uib-datepicker-popup="'dd-MMMM-yyyy'" close-text="Close" ng-model="time_record.dateAttended" class="form-control">
        </div>     
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();" ng-disabled="timeRecordForm.$invalid"><span class="glyphicon glyphicon-plus-sign"></span> {{modalOptions.actionButtonText}}</button>
</div>