<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">        
    <form method="post" name="timeRecordForm" novalidate>

        <div class="form-group">
          <label>Assign to what employee?</label>
          <input type="text" name="empId" data-delay="300" select-employee="time_record.empId" ng-model="time_record.empId"/>
          <div class="entry" ng-repeat="entry in searchEmployeeEntries | filter:searchText">
              <span>{{entry.content}}</span>
          </div>
        </div>  
        <div class="form-group">
          <label>Remarks/Title</label>
          <textarea class="form-control" ng-model="time_record.remarks" rows="3" placeholder="Enter remarks..."></textarea>
        </div>
        <div class="form-group">
          <label>Record Type</label>
          <select class="form-control" ng-model="time_record.timeRecordType" ng-options="recordType.value as recordType.text for recordType in recordTypes" ng-init="time_record.timeRecordType=recordTypes[0]"></select>
        </div>  
        <div class="form-group">
          <label>Starts At</label>
          <input type="text" uib-datepicker-popup="'dd-MMMM-yyyy'" close-text="Close" ng-model="time_record.dateAttended" class="form-control">
        </div>  

        <div class="form-group">
          <label>Ends At</label>
          <input type="text" uib-datepicker-popup="'dd-MMMM-yyyy'" close-text="Close" ng-model="time_record.dateAttended" class="form-control">
        </div>     
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();" ng-disabled="timeRecordForm.$invalid"><span class="glyphicon glyphicon-plus-sign"></span> {{modalOptions.actionButtonText}}</button>
</div>