<uib-accordion close-others="true">

 <div uib-accordion-group class="panel box box-warning" heading="Import Employee Records" is-open="employeeToolsOptionsCtrl.accordionSettings.status.isFirstOpen" is-disabled="employeeToolsOptionsCtrl.accordionSettings.status.isFirstDisabled">
       <!-- Upload/Import Employees Form -->

       <h5 class="text-aqua"><strong>Example Time Record Format</strong></h5>

       <table class="table table-hover table-responsive table-striped">
          <tbody><tr>            
            <th>Employee ID</th>
            <th>Full Name</th>
            <th>Position(optional)</th>                                    
          </tr>
          <tr>
            <td>1600</td>
            <td>John Doe</td>
            <td>HR Assistant</td>  
          </tr>
          <tr>
            <td>1601</td>
            <td>Alexander Pierce</td>
            <td>Lineman</td>                      
          </tr>         
        </tbody>
      </table>


      <form name="importRecordForm" ng-model="importRecordForm">         
          <div class="form-group">                  
              <h5 class="display-inline">Select file to import : </h5>
             
              <button type="button" class="btn btn-sm btn-primary" ngf-select="employeeToolsOptionsCtrl.uploadEmployees(employeeFile)" name="file" ng-model="employeeFile" ngf-pattern="'*.csv'" ngf-accept="'*.csv'"><i class="fa fa-paperclip"></i> Browse a csv file </button>              
          </div>        
      
          <uib-progressbar ng-show="fileImportEmployeesPercentage > 0" class="progress-striped" ng-class="{ active : fileImportEmployeesPercentage > 0 }" value="fileImportEmployeesPercentage">{{ importEmployeeRecordsMessage }}</uib-progressbar>

          <div ng-show="employeeToolsOptionsCtrl.message.length > 0" uib-alert ng-class="'alert-' + ( 'success')" type="success" close="Close" dismiss-on-timeout="4000">{{ employeeToolsOptionsCtrl.message }}</div>

      </form>   


      <!-- !Upload/Import Employees Form -->
  </div>

  <div uib-accordion-group class="panel box box-warning" heading="Import Time Records">
       <!-- Upload/Import Time Record Form -->

       <h5 class="text-aqua"><strong>Example Time Record Format</strong></h5>

       <table class="table table-hover table-responsive table-striped">
          <tbody><tr>
            <th>Dummy Data</th>
            <th>Dummy Data</th>
            <th>Employee ID</th>
            <th>Dummy Data</th>
            <th>Dummy Data</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
          <tr>
            <td>4</td>
            <td>1</td>
            <td>1600</td>            
            <td>2</td>
            <td>3</td>
            <td>11-7-2014</td>
            <td>08:29</td>
          </tr>
          <tr>
            <td>5</td>
            <td>2</td>
            <td>1601</td>            
            <td>1</td>
            <td>2</td>
            <td>11-7-2014</td>
            <td>08:23</td>                        
          </tr>         
        </tbody>
      </table>


      <form name="importRecordForm" ng-model="importRecordForm">         
          <div class="form-group">                  
              <h5 class="display-inline">Select file to import : </h5>
              <button class="btn btn-sm btn-primary" type="button" ngf-select="employeeToolsOptionsCtrl.uploadTimeRecords(importFile)" name="file" ng-model="importFile"><i class="fa fa-paperclip"></i> Browse a csv file</button>                 
          </div>  
      
          <uib-progressbar ng-show="fileImportTimeRecordsPercentage > 0" class="progress-striped" ng-class="{ active : fileImportTimeRecordsPercentage > 0 }" value="fileImportTimeRecordsPercentage">{{ importTimeRecordsMessage }}</uib-progressbar>

          <div ng-show="employeeToolsOptionsCtrl.message.length > 0" uib-alert ng-class="'alert-' + ( 'success')" type="success" close="Close" dismiss-on-timeout="4000">{{ employeeToolsOptionsCtrl.message }}</div>

      </form>   


      <!-- !Upload/Import Time Record Form -->
  </div>