<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body" bindonce="employee">  
	<ajax-loader show-loader="childShowLoader"></ajax-loader>	
	<div class="col-md-3">
		<div class="box box-warning">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" ng-src="img/{{ employee.gender && 'avatar' || !employee.gender && 'avatar2' }}.png"/>  

              <h3 class="profile-username text-center">{{ employee.fullName }}</h3>

              <p class="text-muted text-center">{{ employee.position }}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Employee ID</b> <a class="pull-right">{{ employee.empId }}</a>
                  <div class="clearfix"></div>                  
                </li>
                <li class="list-group-item">
                  <b>Department</b> <a class="pull-right"><show-subdetails-employee index="$index" id="{{employee.departmentAssigned}}" type="
                  departmentAssigned"></show-subdetails></a>
                  <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">{{ employee.emailAddress | contentIsEmpty}}</a>
                  <div class="clearfix"></div>
                </li>
              </ul>

              <a href="javascript:void(0);" ng-click="viewEmployeeDetailsCtrl.sendPrivateEmail( employee.id );" class="btn btn-primary btn-block"><b>Send Private Email</b></a>
            </div>
            <!-- /.box-body -->
      	</div>    	

      	<div class="box box-warning">
	        <div class="box-header with-border">
	          <h3 class="box-title" uib-tooltip="Time Record Legends">DTR Legends</h3>

	          <div class="box-tools">
	          </div>
	        </div>
	        <div class="box-body no-padding">
	          <ul class="nav nav-pills nav-stacked">
	            <!-- <li><a href="#"><i class="fa fa-circle text-red"></i> Important</a></li> -->
	            <li><a href="#"><i class="fa fa-circle text-aqua"></i> Clock-in/Attended</a></li>
	            <li><a href="#"><i class="fa fa-circle text-purple"></i> On Leave</a></li>
	            <li><a href="#"><i class="fa fa-circle text-orange"></i> Absent</a></li>
	          </ul>
	        </div>
	        <!-- /.box-body -->
	      </div>			    				
	</div>
	<div class="col-md-9">

		<div class="nav-tabs-custom">
	    	<uib-tabset active="active">	    	
	    		<uib-tab index="0" select="viewEmployeeDetailsCtrl.getDailyTimeRecordCalendar()">
	    			<uib-tab-heading>
	    				 <i class="fa fa-calendar"></i> Daily Time Record Calendar    	
	    			</uib-tab-heading>   
    			  	
    			  	<div ng-if="!employeeTimeRecords.length" uib-alert class="alert-warning">
    			  	<i class="icon fa fa-warning"></i> No Time Records yet uploaded.</div>  				

	    			<employee-daily-time-record-calendar></employee-daily-time-record-calendar>					
	    			<div class="clearfix"></div>
	    		</uib-tab>	   

    			<uib-tab index="2" select="viewEmployeeDetailsCtrl.getTrackingActivities()">
	    			<uib-tab-heading>
	                    <i class="fa fa-home"></i> Tracking Activities
	    			</uib-tab-heading>

	    			<employee-tracking-activities activities="activities" show-loader="childShowLoader" emp-id="{{employee.empId}}"></employee-tracking-activities>
	    			<div class="clearfix"></div>
	    		</uib-tab>

	    		<uib-tab index="3" select="viewEmployeeDetailsCtrl.getStatisticsReport()">
	    			<uib-tab-heading>
	                    <i class="fa fa-filter"></i> Statistics & Report   				
	    			</uib-tab-heading>

	    			<div ng-show="!childShowLoader">
	    				<employee-statistics-report emp-id="employee.empId" employee-time-records="employeeTimeRecords" statistics-record-result="statisticsRecordResult"></employee-statistics-report>	    				
	    			</div>
	    			<div class="clearfix"></div>
	    		</uib-tab>
	    	</uib-tabset>			
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="modal-footer">
   <!--  <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button> -->
    <button class="btn btn-primary" data-ng-click="modalOptions.close();" ng-disabled="employeeForm.$invalid"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.actionButtonText}}</button>
</div>