<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">  
	<div class="col-md-3">
		<div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="img/{{ employee.gender && 'avatar' || !employee.gender && 'avatar2' }}.png"/>  

              <h3 class="profile-username text-center">{{ employee.fullName }}</h3>

              <p class="text-muted text-center">{{ employee.position }}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Employee ID</b> <a class="pull-right">{{ employee.empId }}</a>
                  <div class="clearfix"></div>                  
                </li>
                <li class="list-group-item">
                  <b>Department</b> <a class="pull-right"><show-subdetails-employee index="$index" id="{{employee.departmentAssigned}}" type="
                  departmentAssigned"></show-subdetails></a>
                  <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">{{ employee.emailAddress | contentIsEmpty}}</a>
                  <div class="clearfix"></div>
                </li>
              </ul>

              <a ui-sref=".send-email/{{ employee.id }}" class="btn btn-primary btn-block"><b>Send Private Email</b></a>
            </div>
            <!-- /.box-body -->
      	</div>    				    				
	</div>
	<div class="col-md-9">
		<div class="nav-tabs-custom">
	    	<uib-tabset active="active">
	    		<uib-tab index="0">
	    			<uib-tab-heading>
	                    <i class="fa fa-home"></i> Activity   				
	    			</uib-tab-heading>

	    			<div class="col-md-4"></div>
	    			<div class="clearfix"></div>
	    		</uib-tab>
	    		<uib-tab index="1">
	    			<uib-tab-heading>
	    				 <i class="fa fa-calendar"></i> Daily Time Records    	
	    			</uib-tab-heading>    

	    			<div class="col-md-6 text-center">
				      <div class="btn-group">

				        <button
				          class="btn btn-primary"
				          mwl-date-modifier
				          date="viewDate"
				          decrement="calendarView">
				          Previous
				        </button>
				        <button
				          class="btn btn-default"
				          mwl-date-modifier
				          date="viewDate"
				          set-to-today>
				          Today
				        </button>
				        <button
				          class="btn btn-primary"
				          mwl-date-modifier
				          date="viewDate"
				          increment="calendarView">
				          Next
				        </button>
				      </div>
				    </div>

				    <br class="visible-xs visible-sm">	

			     	<div class="col-md-6 text-center">
				      <div class="btn-group">
				        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'">Year</label>
				        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'">Month</label>
				        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'">Week</label>
				        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'">Day</label>
				      </div>
				    </div>

			     	<br>

	    			<mwl-calendar
					    view="calendarView"
					    view-date="calendarDate"
					    events="events"
					    view-title="calendarTitle"
					    on-event-click="eventClicked(calendarEvent)"
					    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
					    cell-is-open="true">
					</mwl-calendar>

					<h3 id="event-editor">
					    Edit events
					    <button
					      class="btn btn-primary pull-right"
					      ng-click="addEvent()">
					      Add new
					    </button>
					    <div class="clearfix"></div>
					</h3>
					
	    			<div class="clearfix"></div>
	    		</uib-tab>
	    	</uib-tabset>			
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="modal-footer">
   <!--  <button type="button" class="btn" data-ng-click="modalOptions.close()"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.closeButtonText}}</button> -->
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();" ng-disabled="employeeForm.$invalid"><span class="glyphicon glyphicon-ban-circle"></span> {{modalOptions.actionButtonText}}</button>
</div>